[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/infirit89/glfw
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "optick"]
	path = optick
	url = https://github.com/infirit89/optick
[submodule "Vendor/optick"]
	path = Vendor/optick
	url = https://github.com/infirit89/optick
[submodule "premake-ecc"]
	path = premake-ecc
	url = https://github.com/MattBystrin/premake-ecc
