[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/infirit89/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/optick"]
	path = vendor/optick
	url = https://github.com/infirit89/optick
[submodule "premake-ecc"]
	path = premake-ecc
	url = https://github.com/MattBystrin/premake-ecc
